header {background-color: aquamarine;

}
header h2 {
    text-align: center;
    border: 2px solid;
    border-color: black;
    color: rgb(255, 0, 0);
}
nav {
    padding: 20px;
    padding-bottom: 40px;
}
 a {
    font-size:20px;
    text-decoration: none;
    margin-left: 200px;
    color:blue;
    height: 30px;
}
#first {
    height: 50px; 
    width: 50px;
    background-color: green;
    border: 5px solid;
    border-radius: 50%;
    margin: 5px;
}
.box {
    height: 100px;
    width: 100px;
    background-color: pink;
    margin: 5px;
    display: inline-block;
}
#container {
    border: 3px solid;
    border-color: black;
    margin: 5px;
    

}
#box3 {
    position: fixed;
    right: 10px;
}
#box1 {
    position: absolute;
    z-index: 2;
}
footer {
    position: fixed;
    bottom: 0px;
    background-color: mediumaquamarine;
}