* {
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;background-color: rgb(255, 255, 255);
    height: 80px;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid rgb(156, 141, 141);
   

    
    
}
.myntralogo {
    height: 36px;
    

}
.logo_container {
    margin-left: 4%;
    
}
.action_bar {
    margin-right: 4%;
}
.nav_bar a sup {
    color: #ff3f6c;
    font-size: 10px;
}
.nav_bar a{
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid white;
    padding: 29px 0px;
}  
.nav_bar a:hover {
    border-bottom: 3px solid #ff3f6c;
}
.nav_bar {
    display: flex;
    justify-content: space-evenly;
    min-width: 515px;
}
.search_bar {
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
    

}
.search_input {
    color: #696e79;
    height: 40px;
    background: #f5f5f6;
    flex-grow: 1;
    border: 0px;
    border-radius: 0px 4px 4px 0px;

}
.search_icon{
    background: #f5f5f6;
    color: #282c3f;
    height: 20px;
    padding: 10px;
    box-sizing: content-box;
    font-weight: 300;
    border-radius: 3px 0px 0px 3px;

}
.action_bar {
    display: flex;
    min-width: 195px;
    justify-content: space-evenly;
}
.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Main Section */
.banner_container {
    margin: 40px 0;
}
.banner_image {
    width: 100%;
}
.category_heading {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}
.category_items {
    width: 100%;
    margin: 40px 0;
    display: flex;
    
    flex-wrap: wrap;
}
.sale_item {
    width: 247px;
}
.footer_container {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px 40px 0px;
    background: #FAFBFC;
}
.footer_column {
    display: flex;
    flex-direction: column;

}
.footer_column a {
    
    color: #696b79;
    display: block;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
    cursor: pointer;
    line-height: normal;
}
.footer_column h3 {
    color: #282c3f;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 25px;
}
.copy_right {
    text-align: center;
    flex: 1;
    color: #94969f;
    padding: 15px;
    
}
